/** 
 ** file: mp-offwhite.css
 ** label: Off-White Single Column
 ** 
 ** The "Off-White Single Column" theme for MoneyPress.
 **
 **/
.csl_themes-product {
    clear: both;
    background-color: #F8EEC0;
    border: 1px solid #A48F2C;
    margin: 10px 0;
    padding: 5px;
    min-height: 155px;
}

.csl_themes-product div {
    padding: 0 0 0 5px;
}

.csl_themes-product h3 {
    margin: 0 0 10px 0;
    color: ##3D3D3D;
}

.csl_themes-product img {
    float: left;
    padding: 0 5px 5px 0;
    max-width: 150px;
    max-height: 120px;
}

.csl_themes-product li {
    list-style: none;
}

