/** 
 ** file: mp-blue.css
 ** label: Blue Single Column
 ** 
 ** The "Blue Single Column" theme for MoneyPress. 
 **
 **/
.csl_themes-product {
    clear: both;
    background-color: #8080FF;
    border: 1px solid #7070EE;
    margin: 10px 0;
    padding: 5px;
    min-height: 155px;
}

.csl_themes-product div {
    padding: 0 0 0 5px;
}

.csl_themes-product h3 {
    background: none repeat scroll 0 0 #4040FF;
    font-family:Verdana, Helvetica, Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 6px;
}

.csl_themes-product img {
    float: left;
    padding: 0 5px 5px 0;
    max-width: 150px;
    max-height: 120px;
}

.csl_themes-product li {
    list-style: none;
}

